<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
	<!--0.包扫描 -->
	<context:component-scan
		base-package="com.chinasofti.framework.ssmdemo.service" />

	<!--1. 数据库相关 -->
	<!-- 数据源 -->
	<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" /><!--jdbc:mysql://47.106.195.27:3306/ytbook?useUnicode=true&amp;characterEncoding=UTF-8-->
		<property name="url" value="jdbc:mysql://localhost:3306/ytbook? useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>
	<!--事务相关  -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds"/>
	</bean>
	<!-- 声明式事务处理 -->
	<tx:annotation-driven
		transaction-manager="transactionManager" />
		
	<!--2.mybatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds" />
		<property name="mapperLocations"
			value="classpath:mappers/**/*.xml" />
		<property name="typeAliasesPackage" value="com.chinasofti.framework.ssmdemo.model"/>
		<property name="configuration">
			<bean class="org.apache.ibatis.session.Configuration">
				<property name="mapUnderscoreToCamelCase" value="true" />
				<property name="logImpl"
					value="org.apache.ibatis.logging.stdout.StdOutImpl" />
			</bean>
		</property>
	</bean>
	
	<bean id="sqlSession"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<!--将mybatis的mapper映射成springbean -->
	<mybatis:scan
		base-package="com.chinasofti.framework.ssmdemo.dao"/>
		
</beans>
